page-enviar-mensaje-prop {

}
.scroll-content{
  background-color:#EFF5FF;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/b5/9f/d5/b59fd579e59cb9f37b319114c418e62b.jpg');
  background-repeat: repeat-y;

}